<span
  #particleContainer
  *ngIf="!outOfBounds && !exploding"
  class="particle-container"
  [class.rise]="particle.rise"
  (click)="onClick($event)"
  [style]="{
    '--xOffset': particle.xOffset + 'px',
    '--yOffset': particle.yOffset + 'px',
    '--duration': particle.animationDuration + 's',
    '--delay': particle.animationDelay + 's',
    '--screenHeight': screenHeight + 'px',
    '--xTarget': xTarget + 'px',
    '--yTarget': yTarget + 'px'
  }"
>
  <!-- <span
      class="particle"
      [ngClass]="particle.colour"
      [class.oscillate]="particle.oscillate"
      [style.width]="30"
      [style.height]="30"
      (click)="onClick($event)"
    ></span> -->
  <span
    class="particle"
    [ngClass]="particle.colour"
    [class.oscillate]="particle.oscillate"
    [style.width]="particle.width"
    [style.height]="particle.height"
  ></span>
</span>
<app-particle-explosion
  *ngIf="exploding"
  [x]="explosionOrigin.x"
  [y]="explosionOrigin.y"
  [colour]="particle.colour!"
></app-particle-explosion>
